<section class="flex flex-col max-w-3xl mx-auto mb-12 gap-12">
  <article class="flex flex-col items-center justify-center gap-10 md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-black [&>p>strong]:bg-yellow-300 [&>p>strong]:font-normal [&>p>strong]:text-base text-black/80 [&>p>strong]:py-0.5 [&>p>strong]:px-1 [&>p>strong]:font-mono text-lg text-pretty order-2 md:order-1 leading-normal"
    >
      <p>
        Ola, son <strong>Inés</strong>! Durante 50 días, farei <strong>unha obra creativa</strong> con programación <strong>ao día</strong>.
      </p>
      <footer class="flex gap-4 items-center">
        <a
          href="https://x.com/sanluisdev"
          target="_blank"
          rel="noopener"
          class="inline-flex items-center justify-center px-2 py-1 text-xs font-semibold text-center text-black transition bg-white rounded-lg md:px-4 md:py-2 hover:bg-[#C5E7FC] md:text-sm border border-[#1DA1F2]"
        >
          <svg
            class="text-sky-300 size-6"
            viewBox="0 0 16 16"
            aria-hidden="true"
            fill="currentColor"
            class="flex-none h-6 w-6"
            ><path
              d="M5.526 13.502c5.032 0 7.784-4.168 7.784-7.783 0-.119 0-.237-.008-.353a5.566 5.566 0 0 0 1.364-1.418 5.46 5.46 0 0 1-1.571.431c.571-.342.998-.88 1.203-1.513a5.483 5.483 0 0 1-1.737.664 2.738 2.738 0 0 0-4.662 2.495 7.767 7.767 0 0 1-5.638-2.858 2.737 2.737 0 0 0 .847 3.651 2.715 2.715 0 0 1-1.242-.341v.035a2.737 2.737 0 0 0 2.195 2.681 2.73 2.73 0 0 1-1.235.047 2.739 2.739 0 0 0 2.556 1.9 5.49 5.49 0 0 1-4.049 1.133A7.744 7.744 0 0 0 5.526 13.5"
            ></path></svg
          >
          Sígueme en Twitter</a
        >
      </footer>
    </div>
    <img
      width="200"
      height="200"
      src="/me.png"
      alt="Inés San Luís"
      class="order-1 object-cover w-52 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 aspect-square rounded-2xl dark:bg-yellow-500/5"
      style="object-position: center"
    />
  </article>
</section>
