---
const { info } = Astro.props
const { theme = {} } = info
const { isDark = false } = theme
---

<div class="hidden sm:block absolute left-4 bottom-4 px-8 py-1 rounded-lg">
  <h1 class="font-bold mt-4 animate-fade-in-up">
    <a
      class="text-xs items-center flex gap-2 hover:scale-110 transition"
      href="/"
    >
      <div class="flex flex-col text-center leading-none">
        <span
          class:list={[
            {
              "from-slate-400 to-slate-600": !isDark,
              "from-slate-100 via-slate-400 to-slate-500": isDark,
            },
            "tracking-tighter text-4xl px-1 bg-clip-text inline-block text-transparent bg-gradient-to-r",
          ]}>50</span
        >
        <span
          class:list={[
            isDark ? "text-white/80" : "text-black/80",
            "tracking-tighter text-slate-800 text-[14px]",
          ]}>proxectos creativos</span
        >
      </div>
    </a>
  </h1>
  <h2
    class:list={[
      isDark ? "text-yellow-400" : "text-yellow-600",
      "font-semibold animate-fade-in animate-delay-300 mt-2 text-base text-center tracking-tighter",
    ]}
  >
    #{info.number} - {info.title}
  </h2>
  <a
    class:list={[
      "text-xs animate-fade-in animate-delay-800 hover:underline",
      isDark ? "text-white/90" : "text-black/90",
    ]}
    href="/">← Volver aos proxectos</a
  >
</div>
